body {
    font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;
    font-size:16px;
}

ul {
    padding: 0;
    margin: 0;
}

#wrapper {
    width: 960px;
    margin: 0 0;
}

.menu {
    list-style-type: none;
}

    .menu > li {
        display: inline-block;
        width: 82px;
        height: 40px;
        box-sizing: border-box;
        border: 1px solid #000000;
        border-radius: 10px;
background: #27d9f1; /* Old browsers */
background: -moz-linear-gradient(top,  #27d9f1 0%, #7797e3 97%, #6278b8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#27d9f1), color-stop(97%,#7797e3), color-stop(100%,#6278b8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #27d9f1 0%,#7797e3 97%,#6278b8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #27d9f1 0%,#7797e3 97%,#6278b8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #27d9f1 0%,#7797e3 97%,#6278b8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #27d9f1 0%,#7797e3 97%,#6278b8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27d9f1', endColorstr='#6278b8',GradientType=0 ); /* IE6-9 */

    }

        .menu > li:nth-child(3) {
            width: 125px;
        }

        .menu > li a {
            text-decoration: none;
            color: #3140ff;
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            text-align: center;
            padding-top: 12px;
        }
.content {
  display:none;
  position:absolute;
}
.menu>li:hover{
    width:150px;
    height:50px;

}
.menu>li:hover >a{
    font-size:20px;
}
.menu>li:nth-child(3):hover{
    width:205px;
}
.menu>li:hover .content{
    display:block;
    float:left;
    position:absolute;
    left:25px;
    top:45px;
    width:290px;
    height:115px;
    border:solid 1px black;
    border-radius:10px;
    
    background: #fdffff; /* Old browsers */
background: -moz-linear-gradient(top,  #fdffff 0%, #a1d8ef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdffff), color-stop(100%,#a1d8ef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fdffff 0%,#a1d8ef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fdffff 0%,#a1d8ef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fdffff 0%,#a1d8ef 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fdffff 0%,#a1d8ef 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdffff', endColorstr='#a1d8ef',GradientType=0 ); /* IE6-9 */

}
.menu>li:nth-child(2) .content{
    width:320px;
    height:115px;
    left:118px;
}
.menu>li:nth-child(3) .content{
    width:220px;
    height:135px;
    left:211px;
}
.content h3{
    text-decoration:underline;
    margin-left:15px;
}
.content p span
{
    font-weight:bold;
}
.content p {
    display:inline-block;
    margin-left:15px;
}
.content p a{

    display:inline;
}
.content ul{

   width:100%;
   list-style:square;
   padding-left:20px;
   
}
.content ul li {
    height:20px;
}
.content ul li a{
   text-align:left;
   color:#0000ff;
}
.content>ul>li:hover{
    text-decoration:underline !important;
}